* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
body {
  position: relative;
  background-color: black;
}
.border{
  width: 100%;
  position: fixed;
  height: 50px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #f9fcfc;
  font-weight: bold;
  background: var(--offer, linear-gradient(90deg, var(--Violet-violet-600, #5c32bf) 0%, var(--Violet-violet-600, #5c32bf) 20%, var(--Red-red-500, #e50914) 100%));
}
.top{
  z-index: -10;
  top:50px;
  position: relative;
}
.main {
  position: relative;
  background-image: url("assest/bg.jpg");
  height: 80vh;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
}
.box {
  position: absolute;
  top: 0;
  height: 80vh;
  width: 100%;
  background-color: black;
  opacity: 0.64;
}

.logo-img {
  color: red;
  width: 180px;
  z-index: 10;
}
.nav-bar {
  position: relative;
  max-width: 60vw;
  margin: auto;
  display: flex;
  padding-top: 1.5rem;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.button-bar {
  z-index: 10;
  display: flex;
  gap: 2rem;
}
.hero {
  padding: 23px;
  text-align: center;
  height: calc(100% - 62px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  color: white;
  overflow:hidden;
  position: relative;
  z-index: 10;
}
.hero h2 {
  max-width: 50%;
  font-size: 3.5rem;
}
.hero p {
  color: #fdffff;
  font-size: 1.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.email-box {
  display: flex;
  gap: 4rem;
}
.email-box input {
  height: 3.5rem;
  width: 22rem;
  border: none;
  border-radius: 4px;
  padding-left: 1rem;
  text-align: left;
  background-color: black;
  opacity: 0.4;
  color: black;
  font-size: 1.2rem;
  border: solid #797474 2px;
  transition: all 0.3s linear;
}
.email-box input:focus {
  outline: none;
  opacity: 0.8;
  border-color: rgb(255, 0, 0, 1);
  background-color: #f9fcfc;
  transform: scale(1.07);
}
.email-box input::placeholder {
  color: azure;
  font-size: 1rem;
  font-weight: 700;
}
.button-red {
  text-align: center;
  width: 12rem;
  height: 3rem;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  background-color: red;
  font-weight: 900;
  border: none;
  border-radius: 4px;
}

.seperation {
  overflow:hidden;
  height: 4px;
  background-color: #ff000084;
  border-top: none;
  border-radius: 100%;
  box-shadow: 0px 10px 30px 3px rgb(111, 111, 227);
  margin-bottom: 3rem;
}

.red-button {
  text-align: center;
  background-color: rgb(245, 36, 36);
  width: 6.2rem;
  height: 2.1rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.white-button {
  text-align: center;
  background-color: azure;
  width: 6.2rem;
  height: 2.1rem;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.white-button select {
  width: 70%;
  border: none;
  background-color: azure;
  font-weight: bold;
}

.first {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 60vh;
}

.tv-image {
  
  position: relative;
  bottom: 8rem;
  display: flex;
  margin-bottom: 3rem;
  align-self: center;
  justify-content: center;
}
.tv-image img {
  position: absolute;
  z-index: 10;
  overflow: hidden;
}
.tv-image video {
  overflow:hidden;
  position: relative;
  object-fit: contain;
  width: 96%;
  top: 6rem;
}

.tv-text {
  display: flex;
  flex-direction: column;
  max-width: 30vw;
  gap: 2rem;
  text-align: center;
  color: azure;
}
.p1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.p2 {
  text-align: center;
  font-size: 1.1rem;
}

.second {
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
  overflow: hidden;
}
.third {
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  height: 60vh;
}
.device-image {
  
  position: relative;
  bottom:7rem;
  display: flex;
  align-self: center;
  justify-content: center;
}

.device-image img {
  overflow:hidden;
  position: absolute;
  z-index: 10;
  overflow: hidden;
}
.device-image video {
  overflow:hidden;
  position: relative;
  object-fit: contain;
  width: 83%;
  top: 3.5rem;
}

.forth{
  overflow:hidden;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 4rem;
}
 .faq{
  margin: 5rem auto;
  background-color: black;
  width: 60%;
  gap: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 }
 .faq h2{
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin-bottom: 1rem ;
 }
.faq-box{
  width: 80%;
  height: 60px;
 background-color: #423d3d;
 display: flex;
 align-items: center;
 justify-content: space-between;
 border-radius: 6px;
 cursor: pointer;
 tran: all 0.2s linear;
}
.faq-box:hover{
  background-color: #f3212b;
}
.faq-box span{
  font-size: 1.2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: white;
  padding-left: 1rem;
}
.faq-box svg{
  padding-right: 1rem;
  width: 2.8rem;
  height: 2.8rem;
}

.email-end{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
   margin-bottom: 4rem;
}
.email-end p{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3rem;
}

.footer_grid{
  margin: 2rem auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  color: #fcffff;
  justify-items: center;
}
.footer_grid_column{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-size: 1.1rem;
}
.footer_grid_column li{
  padding: 0.5rem;
  list-style-type: none;
  font-size:0.9rem;
}
.footer_grid_column a{
    text-decoration: none;
    color: #979e9e;
}
